* {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-card {
  border: 1px solid hsl(0, 0%, 7%);
  height: 522px;
  width: 384px;
  border-radius: 20px;
  padding: 24px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 8px 8px 0 0 #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.image {
  border: 1px solid black;
  width: 100%;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
#illustration-article {
  position: absolute;
  object-fit: cover;
}
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 24px;
}
#learning {
  background-color: hsl(47, 88%, 63%);
  padding: 4px 12px;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: hsl(0, 0%, 7%);
  text-align: center;
  font-weight: bold;
}
#published {
  margin-top: 12px;
  font-weight: 500;
}
#heading {
  margin-top: 12px;
  font-weight: 900;
}
#heading:hover {
  cursor: pointer;
  color: hsl(47, 88%, 63%);
}
#description {
  margin-top: 12px;
  color: hsl(0, 0%, 42%);
}
.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
}
#image-avatar {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
#name {
  font-weight: bolder;
  margin: 5.5px 0px 5.5px 12px;
}
